@mixin before_circle_main {
	&:before {
		content: "";
		position: absolute;
		width: 42px;
		height: 42px;
		border-radius: 100%;
		background: $main-color;
		z-index: -1;
		top: -10%;
		left: 0;
	}
}
@mixin before_circle {
	&:before {
		content: "";
		position: absolute;
		width: 42px;
		height: 42px;
		border-radius: 100%;
		background: $second-color;
		z-index: -1;
		top: -10%;
		left: 0;
	}
}
