.promo {
	min-height: 100vh;
	position: relative;
	background: url("../img/main_bg.jpg") no-repeat 30% / cover;
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	&__title {
		width: 545px;
		text-align: end;
		margin-top: 15px;
	}
	&__subtitle {
		margin-top: 150px;
		position: relative;
		z-index: 2;
		@include before_circle_main;
	}
	&__btns {
		margin-top: 65px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 250px;
	}
	&__link {
		color: $title-color;
		font-weight: bold;
		&:hover {
			color: #fdf7db;
			text-decoration: none;
		}
	}
	.social {
		position: fixed;
		width: 180px;
		bottom: 50px;
		left: 83%;
		transform: translateX(-50%);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
